
body {
    /* color: white; */
    /* background-color: black; */
}

.cols {
    columns: 2;
}

textarea {
    width: 100%;
    font-family:monospace;
    margin: 1em 0;
}

textarea.short {
    height: 3em;
}

textarea.long {
    height: 20em;
}

button {

    margin: 0 0 1em 0;

}
